<h1> Mail #<%= @mail.id %> </h1>
<hr width="1pt">

<h3>From: <%= @mail.from.id %> </h3>
<h3>To: <%= @mail.to.id %> </h3>
<h2> <%= @mail.title %> </h2>
<p> <%= @mail.content %> </p>
<a href="/mails"> << Back </a>
